.select-title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #7C7C7C;
}
.select-detail-dsc{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181725;
}
.custom-dropdown-menu{
    transition: transform 0.3s ease !important;
}
.termsConditon-order p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #7C7C7C;
}
.termsConditon-order p a{
    color: #181725;
}
.placeorder-wrap .modal-content{
    max-width: 350px !important;
    padding: 20px;
}
