.select-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #7C7C7C; 
}
.select-detail-dsc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #181725;
}
.custom-dropdown-menu{
    transition: transform 0.3s ease !important;
}
.termsConditon-order p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #7C7C7C;
}
.termsConditon-order p a{
    color: #181725;
}
.placeorder-wrap .modal-content{
    max-width: 350px !important;
    padding: 20px;
    margin: 0 auto;
} 
#paymentmethod li{ 
   display: inline-block;    
  padding:10px; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
  padding: 5px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border-radius: 5px; 
 
}   
#paymentmethod li:nth-of-type(2){ 
    margin-left: 119px;   
     
    
}
