.see-more-modal .modal-dialog {
  max-width: 90% !important;
  height: 90% !important;
}
.see-more-modal .modal-content {
  max-width: 100% !important;
  height: 100% !important;
  /* overflow-y: scroll; */
}
.see-more-modal .modal-body {
  overflow-y: scroll;
}
