.custom-modal {
  margin: 0 !important;
  display: flex !important;
  height: 100vh !important;
  overflow-y: auto;
  overflow-y: auto;
}

.custom-modal-content {
  margin: 0 !important;
  height: 100% !important;
}

.content-button li {
  list-style-type: none;
}
.content-button li a {
  padding: 8px 20px !important;
  font-size: 16px !important;
}
.content-button {
  display: none !important;
}

@media (max-width: 768px) {
  .content-button {
    display: inline-block !important;
  }
}
