.profile-picture-container {
  position: relative;
  display: inline-block;
}

.user-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}

.profile-picture-input {
  display: none;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.input-container {
  position: relative;
}
.input-container .icon-container {
  position: absolute;
  top: 7px;
  right: 0;
}
