.profile-picture-container {
  position: relative;
  display: inline-block;
}

.user-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}

.profile-picture-input {
  display: none;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
