* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.text-ellipsis {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
  width: 200px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-bg {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 21px; */
  text-align: center;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.market-place {
  padding: 20px;
  box-sizing: border-box;
  height: 242px;
  /* width: 452; */
  background: rgba(255, 90, 0, 0.29);
  border: 1px solid rgba(248, 164, 76, 0.7);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}
.services {
  padding: 20px;
  box-sizing: border-box;
  height: 242px;
  /* width: 452; */
  background: rgba(83, 177, 117, 0.1);
  border: 1px solid rgba(83, 177, 117, 0.7);
  border-radius: 10px;
}
.service-container {
  padding-left: 170px;
  padding-right: 170px;
}
.service-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 29px;
  /* or 91% */
  /* text-align: center; */
  align-self: flex-end;

  color: #000000;
}
.vegetable-img {
  width: 160;
  height: 120;
}
.market-place-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 29px;
  color: #000000;
}
.about-home {
  height: "auto";
  width: "100%";
  background: rgba(84, 104, 255, 0.12);
}
.heading-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 59px;
  color: #181725;
  margin-bottom: 50px;
}
.customer-detail {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
}
.category-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #030303;
}
.csm-service-links {
  color: #fff;
  text-align: justify;
  font-size: 22px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
.csm-service-links-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.laptop-image {
  width: 100%;
  height: auto;
}
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .laptop-image {
    width: 100%;
    height: auto;
  }
}

/* @media only screen and (min-width: 768px), (min-width: 992px) {
  .laptop-image {
    width: 70%;
    height: auto;
  }
} */

/* Media query for larger screens */
@media (min-width: 768px) {
  .font-size-heavy {
    font-size: 28px;
  }
  .font-size-heading {
    font-size: 32px;
  }
  .font-size-normal {
    font-size: 16px;
  }
  .font-size-small {
    font-size: 16px;
  }
}
/* Media query for mobile screens */
@media (min-width: 320px) and (max-width: 768px) {
  .font-size-heavy {
    font-size: 18px;
  }
  .font-size-heading {
    font-size: 16px;
  }
  .font-size-normal {
    font-size: 15px;
  }
  .font-size-small {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .csm-service-links-wrap {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px;
  }
  .all-right-text {
    text-align: justify;
    font-size: 14px;
    font-family: Gilroy;
    font-weight: 500;
    line-height: 20px;
  }
  .home-bg {
    font-size: 22px;
  }
}
.login-btn {
  background: #ff5a00;
  border-radius: 10px;
  width: 100%;
  display: block;
  padding: 12px;
  text-align: center;
  color: #fff !important;
  text-decoration: none;
}
.decoration-none {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}
main {
  flex-grow: 1;
}
.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #000000; */
  justify-content: end;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.show-all {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 39px;
  color: #ff5a00;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}
body{ 
  overflow-x:hidden;
}